---
##################################################
# 実行するタスクを定義する
##################################################

- name: Apacheをインストール
  yum:
    name: httpd
    state: present
  tags:
    - apache

- name: httpd.confテンプレートを転送
  template:
    src: httpd.conf.j2
    dest: /etc/httpd/conf/httpd.conf
    owner: root
    group: root
    mode: 0644
  tags:
    - apache
  notify:
    - restart_apache

- name: vhosts.confテンプレートを転送
  template:
    src: vhosts.conf.j2
    dest: /etc/httpd/conf.d/vhosts.conf
    owner: root
    group: root
    mode: 0644
  tags:
    - apache
  notify:
    - restart_apache

- name: Apacheを起動、自動起動を有効化
  service:
    name: httpd
    state: started
    enabled: yes
  tags:
    - apache
