version: 2

jobs:
  build:
    docker:
      - image: python:2
    working_directory: ~/ansible
    steps:
      - checkout
      - run:
          name: Install requirements
          command: pip install -r ./.circleci/requirements.txt
      - run:
          name: Run ansible-lint
          command: ansible-lint site_*.yml -c ./.circleci/.ansible-lint
workflows:
  version: 2
  workflow:
    jobs:
      - build
