---
##################################################
# Define tasks
##################################################

- name: Install Docker
  yum:
    name:
      - docker
      - net-tools
    state: present
  become: yes # use sudo

- name: Start Docker and enable autostart
  systemd:
    name: docker
    state: started
    enabled: yes
  become: yes # use sudo

- name: Install Docker Compose
  get_url:
    url: https://github.com/docker/compose/releases/download/1.24.0/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    checksum: sha256:bee6460f96339d5d978bb63d17943f773e1a140242dfa6c941d5e020a302c91b
    mode: 0755
  become: yes # use sudo
