---
##################################################
# Define tasks
##################################################

- name: Install PHP
  yum:
    name:
      - php74
      - php74-php-bcmath
      - php74-php-cli
      - php74-php-common
      - php74-php-devel
      - php74-php-json
      - php74-php-mcrypt
      - php74-php-mbstring
      - php74-php-mysqlnd
      - php74-php-opcache
      - php74-php-openssl
      - php74-php-pdo
      - php74-php-pear
      - php74-php-pecl-memcache
      - php74-php-pecl-memcached
      - php74-php-pecl-zip
      - php74-php-pgsql
      - php74-php-process
      - php74-php-tokenizer
      - php74-php-xml
    state: present
    enablerepo: "remi-php74,PowerTools"
  when: ansible_os_family == "RedHat"

- name: Create a symbolic link
  file:
    src: /usr/bin/php74
    dest: /usr/bin/php
    state: link
  when: ansible_os_family == "RedHat"

- name: Install PHP
  apt:
    name:
      - php
      - libapache2-mod-php
      - php-bcmath
      - php-cli
      - php-common
      - php-curl
      - php-dev
      - php-fpm
      - php-json
      - php-mbstring
      - php-mysql
      - php-opcache
      - php-pear
      - php-pgsql
      - php-xdebug
      - php-xml
      - php-zip
    state: present
  when: ansible_os_family == "Debian"

- name: Copy custom php.ini
  copy:
    src: php.ini
    dest: /etc/opt/remi/php74/php.ini
  when: ansible_os_family == "RedHat"

- name: Download a installer
  get_url:
    url: https://getcomposer.org/installer
    dest: ~/installer
    mode: 0755

- name: Install a Composer
  command: php ~/installer --install-dir=/usr/bin --filename=composer creates=/usr/bin/composer
